#Ignore these directories
january????
february????
march????
april????
may????
june????
july????
august????
september????
october????
november????
december????
partial-january????
partial-february????
partial-march????
partial-april????
partial-may????
partial-june????
partial-july????
partial-august????
partial-september????
partial-october????
partial-november????
partial-december????

